<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{ 'products.product_filters' | translate }}</h3></div>
    <div class="panel-body">

        <form [formGroup]="this.productFilterForm">
          <div class="row">
            <div class="form-group col-md-3">
              <label for="id">{{ 'global.id' | translate }}: ({{ 'global.only_numbers' | translate }})</label>
              <input type="text" class="form-control" id="id" name="id" pKeyFilter="int" maxlength="10"
                formControlName="id" />
            </div>
            <div class="form-group col-md-9">
              <label for="name">{{ 'global.name' | translate }}:</label>
              <input type="text" class="form-control" id="name" name="name" pKeyFilter="alphanum" maxlength="30"
                formControlName="name" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="category_id">{{ 'categories.itself' | translate }}:</label>
              <select id="category_id" name="category_id" class="form-control" formControlName="category_id" style="
                font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;" required>
                <option value="">Selecione uma categoria...</option>
                <option *ngFor="let category of this.categories | async" [ngValue]="category.id">
                  {{ category.name }}
                </option>
              </select>
              <!-- <input type="text" class="form-control" id="category" name="category" pKeyFilter="alphanum"
                maxlength="60" formControlName="category"  /> -->
            </div>
            <div class="form-group col-md-3">
              <label for="units_stock[gte]">{{ 'global.units_stock' | translate }} ({{ 'global.of' | translate }}):</label>
              <input type="text" class="form-control" id="units_stock[gte]" name="units_stock[gte]"
                pKeyFilter="int" maxlength="3" formControlName="units_stock[gte]"  />
            </div>
            <div class="form-group col-md-3">
              <label for="units_stock[lte]">{{ 'global.units_stock' | translate }} ({{ 'global.until' | translate }}):</label>
              <input type="text" class="form-control" id="units_stock[lte]" name="units_stock[lte]"
                pKeyFilter="int" maxlength="3" formControlName="units_stock[lte]"  />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label for="cost_price[gte]">{{ 'global.cost_price' | translate }} ({{ 'global.of' | translate }}):</label>
              <input type="text" class="form-control" id="cost_price[gte]" name="cost_price[gte]" pKeyFilter="num"
                maxlength="5" formControlName="cost_price[gte]"  />
            </div>
            <div class="form-group col-md-3">
              <label for="cost_price[lte]">{{ 'global.cost_price' | translate }} ({{ 'global.until' | translate }}):</label>
              <input type="text" class="form-control" id="cost_price[lte]" name="cost_price[lte]" pKeyFilter="num"
                maxlength="5" formControlName="cost_price[lte]"  />
            </div>
            <div class="form-group col-md-3">
              <label for="sale_price[gte]">{{ 'global.sale_price' | translate }} ({{ 'global.of' | translate }}):</label>
              <input type="text" class="form-control" id="sale_price[gte]" name="sale_price[gte]" pKeyFilter="num"
                maxlength="5" formControlName="sale_price[gte]"  />
            </div>
            <div class="form-group col-md-3">
              <label for="sale_price[lte]">{{ 'global.sale_price' | translate }} ({{ 'global.until' | translate }}):</label>
              <input type="text" class="form-control" id="sale_price[lte]" name="sale_price[lte]" pKeyFilter="num"
                maxlength="5" formControlName="sale_price[lte]"  />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" id="only_active" name="only_active" value="true" formControlName="active" />
                <label for="description">{{ 'global.only_active' | translate }} ?</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">

              <filter-action-buttons [form]="this.productFilterForm" [dataTable]="this.dataTable"
                [filter]="filter.bind(this)"></filter-action-buttons>

            </div>
          </div>
        </form>

    </div><!-- panel-body -->
  </div>
</div>



<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'products.product_list' | translate }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="btn-toolbar m-b-15">

            <div class="pull-right">
              <a href="#" class="btn btn-primary" routerLink="/products/create">
                <i class="fa fa-file"></i>
                {{ 'products.product_new' | translate }}
              </a>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <p-table #dataTable [value]="this.products" [columns]="tableColumns" [paginator]="appConfig.paginator"
            [rows]="appConfig.rows" [showCurrentPageReport]="appConfig.showCurrentPageReport"
            [resizableColumns]="appConfig.resizableColumns" [responsive]="appConfig.responsive"
            [rowHover]="appConfig.rowHover" currentPageReportTemplate="{{ appConfig.currentPageReportTemplate | translate}}"
            [rowsPerPageOptions]="appConfig.rowsPerPageOptions" [totalRecords]="this.totalRecords"
            [lazy]="appConfig.lazy" (onLazyLoad)="loadProducts($event)" [loading]="this.tableLoading"
            [scrollable]="appConfig.scrollable">

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.sort ? col.field : null"  pResizableColumn
                  [style.width]="col?.width" [style.text-align]="col.align ? col.align : null">
                  {{ col.header | translate }}
                  <p-sortIcon [field]="col.sort ? col.field : null" *ngIf="col.sort" ></p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-record let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" class="ui-resizable-column ui-selectable-row" [style.width]="col?.width"
                  [style.text-align]="col.align ? col.align : null">

                  <ng-container *ngIf="col.field == 'photo' && !record.photo">
                    <img src="assets/images/default_img.png" title="Default Image" />
                  </ng-container>

                  <ng-container *ngIf="col.field == 'photo' && record.photo">
                    <img [src]="record[col.field]" alt="{{record.name}}" title="{{record.name}}" style="width: 80px; height: 80px"/>
                  </ng-container>

                  <ng-container *ngIf="['photo', 'actions', 'active', 'cost_price', 'sale_price', 'category'].includes(col.field) === false">
                    {{ record[col.field] }}
                  </ng-container>

                  <ng-container *ngIf="['cost_price', 'sale_price'].includes(col.field)">
                    {{ record[col.field] | currency:'BRL':'R$ ':'1.2-2' }}
                  </ng-container>

                  <ng-container *ngIf="col.field == 'category'">
                    {{ record[col.field]?.name }}
                  </ng-container>

                  <ng-container *ngIf="col.field == 'active'">
                    {{ (record[col.field] ? 'global.yes' : 'global.no') | translate }}
                  </ng-container>

                  <ng-container *ngIf="col.field == 'actions'">

                    <datatable-action-buttons [record]="record" [confirm]="confirm.bind(this)"></datatable-action-buttons>

                  </ng-container>

                </td>
              </tr>
            </ng-template>


            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length" class="text-center">
                  {{ appConfig.emptymessage | translate }}
                </td>
              </tr>
            </ng-template>

          </p-table>

        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog [dismissableMask]="appConfig.dismissableMask" [draggable]="appConfig.draggable" [resizable]="appConfig.resizable"
  [modal]="appConfig.modal" [blockScroll]="appConfig.blockScroll" [appendTo]="appConfig.appendTo"
  [(visible)]="displayImage" #dialogImgCont style="min-width: 25vw; min-height: 10vw">
  <img src="" title="" #dialogImgSrc />
</p-dialog>

<p-confirmDialog header="{{ appConfig.confirmHeader | translate }}" [icon]="appConfig.confirmIcon"
  acceptLabel="{{ appConfig.yesLabel | translate }}" rejectLabel="{{ appConfig.noLabel | translate }}"></p-confirmDialog>

<p-blockUI [blocked]="this.tableLoading" [target]="dataTable"></p-blockUI>
