<div class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">

        <h3 class="panel-title">
          <ng-container *ngIf="this.formMode === FORM_MODE.Create">
            {{ 'categories.category_new' | translate }}
          </ng-container>

          <ng-container *ngIf="this.formMode === FORM_MODE.Edit">
            {{ 'categories.category_edit' | translate }}
          </ng-container>

          <ng-container *ngIf="this.formMode === FORM_MODE.View">
            {{ 'categories.category_view' | translate }}
          </ng-container>
        </h3>

      </div>
      <div class="panel-body">
          <form [formGroup]="categoryForm" (ngSubmit)="save();">
            <div class="row">

              <div class="form-group col-md-3"
                [class.has-error]="this.validationService.hasError(this.categoryForm.get('name'))">

                <label for="name" class="required control-label">{{ 'global.name' | translate }}:</label>
                <input type="text" class="form-control" id="name" name="name" maxlength="60"
                  formControlName="name" required />

                <field-errors [fieldControl]="this.categoryForm.get('name')"
                  [transValue]="{name: 'Nome', min: '3'}"></field-errors>
              </div>

              <div class="form-group col-md-9"
                [class.has-error]="this.validationService.hasError(this.categoryForm.get('description'))">

                <label for="description" class="control-label">{{ 'global.description' | translate }}:</label>
                <input type="text" class="form-control" id="description" name="description"
                  maxlength="100" formControlName="description" />

                <field-errors [fieldControl]="this.categoryForm.get('description')"
                  [transValue]="{min: '5'}"></field-errors>
              </div>
            </div>


            <div class="row">
              <form-action-buttons [form]="this.categoryForm" goBackRoute="/categories"
                [cancel]="cancel.bind(this)"></form-action-buttons>
            </div>
          </form>
      </div><!-- panel-body -->
    </div>
  </div>

</div>
